* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  line-height: 1.5;
  background-color: rgba(182, 175, 175, 0.788);
}

/* added display:flex to header */
header {
  display:flex;
  background-color: black;
}

/* added border to h1 heading */
h1 {
  background-color:white;
  padding: 20px;
  border-style: solid;
  border-color: black;
}


/* added CSS to nav ul  */

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  position: absolute;
  right: 200px;
  
}
/* added CSS to li */
li {
  display: inline-flex;
  font-size: 34px;
}

/* added css to li a items */
li a {
display: inline;
color: white;
text-align: center;
padding: 10px 15px ;
}

/* added a:hover to li items */

li a:hover {
background-color: grey;
}

/* added CSS to hero banner */

.hero-banner {
  padding: 40px 20px; 
  background-image: url(../images/02-hero-bg.jpg)
}

.hero-banner h2 {
  float: right;
  color: rgb(3, 3, 3);
  font-size: 30px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

p {
  margin: 0;
}

/* tried to add css grid */

 #gridContainer {
  display: grid;
 grid-template-rows: 300px 300px; 
 grid-template-columns: 1fr 1fr 1fr; 
 row-gap: 20px;
 grid-template-areas: 
  " surfReport surfReport surfReport"
  "ledWall calculator"
  "pastelPuzzles runBuddy"
}


  #surfReport {
   background: url(../images/02-portfolio-4.jpg);
   background-size: 500px;
   background-repeat: no-repeat;
   width: 500px;
   height: 300px;
    }
   
  
  
    #ledwall {
       background: url(../images/02-portfolio-1.jpg);
       background-size: 450px;
   background-repeat: no-repeat;
   width: 300px;
   height: 300px;
}
      

    #calculator {
      background: url(../images/02-portfolio-2.jpg);
   background-size: 450px;
   background-repeat: no-repeat;
   width: 300px;
   height: 300px;
}
    
  #pastelPuzzles {
    background: url(../images/02-portfolio-3.jpg);
    background-size: 450px;
    background-repeat: no-repeat;
    width: 300px;
    height: 300px;
  }

  #runBuddy {
    background: url(../images/02-run-buddy.jpg);
    background-size: 450px;
    background-repeat: no-repeat;
    width: 300px;
    height: 300px;
  }


 